
// Server

PORT=4000

// Database

DATABASE_URL=



// Tokens

ACCESS_SECRET_KEY=

ACCESS_TOKEN_EXPIRES=

REFRESH_SECRET_KEY=

REFRESH_TOKEN_EXPIRES=


// Nodemailer

MAIL_HOST=

MAIL_USER=

MAIL_PASSWORD=

MAIL_FROM=